.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  top: 0%;
  position: sticky;
  z-index: 100;
}

.header_logo {
  width: 60px;
  height: 55px;
  object-fit: contain;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.header__search {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionOne {
  font-size: 12px;
}
.header__optionTwo {
  font-size: 16px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
